Naive bayes Algo 
1. Load the Data
2. Divide the data into training data and test data
3. Calculate the classical and conditional probabilities of each
event in the training data
4. Assume independence among various events of the same class
5. Use mean, standard deviation and normal distribution formulas
to calculate the conditional probabilities of events with
numeric values
6. Calculate the proportional conditional probabilities of each
class for the test data
7. The predicted class will be the one with greater proportional
conditional probability

Citrus

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("/content/sample_data/citrus.csv")

In [ ]:
df

            name  diameter  weight  red  green  blue
0         orange      2.96   86.76  172     85     2
1         orange      3.91   88.05  166     78     3
2         orange      4.42   95.17  156     81     2
3         orange      4.47   95.60  163     81     4
4         orange      4.48   95.76  161     72     9
...          ...       ...     ...  ...    ...   ...
9995  grapefruit     15.35  253.89  149     77    20
9996  grapefruit     15.41  254.67  148     68     7
9997  grapefruit     15.59  256.50  168     82    20
9998  grapefruit     15.92  260.14  142     72    11
9999  grapefruit     16.45  261.51  152     74     2

[10000 rows x 6 columns]

In [ ]:
from sklearn.preprocessing import StandardScaler
scalar = StandardScaler()
scalar.fit(df.drop('name',axis=1))
s = scalar.transform(df.drop('name',axis=1))
newdata = pd.DataFrame(s,columns = df.columns[1:])

In [ ]:
x = newdata

In [ ]:
x

      diameter    weight       red     green      blue
0    -3.601950 -3.022554  1.739978  0.767810 -1.033372
1    -3.114207 -2.978392  1.164848  0.169920 -0.923007
2    -2.852366 -2.734645  0.206299  0.426159 -1.033372
3    -2.826695 -2.719925  0.877283  0.426159 -0.812642
4    -2.821561 -2.714447  0.685574 -0.342557 -0.260815
...        ...       ...       ...       ...       ...
9995  2.759248  2.698988 -0.464686  0.084507  0.953203
9996  2.790053  2.725690 -0.560540 -0.684208 -0.481546
9997  2.882467  2.788339  1.356558  0.511571  0.953203
9998  3.051894  2.912951 -1.135670 -0.342557 -0.040085
9999  3.324003  2.959851 -0.177121 -0.171731 -1.033372

[10000 rows x 5 columns]

In [ ]:
y = df.iloc[:,:1]

In [ ]:
y

            name
0         orange
1         orange
2         orange
3         orange
4         orange
...          ...
9995  grapefruit
9996  grapefruit
9997  grapefruit
9998  grapefruit
9999  grapefruit

[10000 rows x 1 columns]

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3, random_state = 42)

In [ ]:
from sklearn.naive_bayes import GaussianNB

In [ ]:
gb = GaussianNB()

In [ ]:
gb.fit(x_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB()

In [ ]:
y_pred = gb.predict(x_test)

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
print(accuracy_score(y_test,y_pred))

0.9196666666666666

In [ ]:
sample = [[2.759248,2.698988,-0.464686,0.084507,0.953203]]

In [ ]:
pred = gb.predict(sample)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  "X does not have valid feature names, but"

In [ ]:
from sklea