In [ ]:
import pandas as pd
import numpy as np

In [ ]:
lst = [1,1,1]
lst2=[2,2,2]
pd.Series(lst,lst2)

2    1
2    1
2    1
dtype: int64

In [ ]:
p = pd.DataFrame(np.random.randn(3,3),index="1 2 3".split(),columns="A B C".split())
p

          A         B         C
1 -0.450763  0.800737 -0.664311
2  0.987979 -0.719551  0.035882
3 -0.988193  0.144764 -0.553262

In [ ]:
p["A"]

1    0.017296
2   -0.637659
3    0.586419
Name: A, dtype: float64

In [ ]:
p.loc["1"]

A   -0.450763
B    0.800737
C   -0.664311
Name: 1, dtype: float64

In [ ]:
p.loc[["1","2"]]

          A         B         C
1 -0.450763  0.800737 -0.664311
2  0.987979 -0.719551  0.035882

In [ ]:
p["new"]= p["A"]+p["B"]

In [ ]:
p

          A         B         C       new
1 -0.450763  0.800737 -0.664311  0.349974
2  0.987979 -0.719551  0.035882  0.268428
3 -0.988193  0.144764 -0.553262 -0.843429

In [ ]:
p["new2"]=[1,2,3]

In [ ]:
p

          A         B         C       new  new2
1 -0.450763  0.800737 -0.664311  0.349974     1
2  0.987979 -0.719551  0.035882  0.268428     2
3 -0.988193  0.144764 -0.553262 -0.843429     3

In [ ]:
p.drop("new",axis=1,inplace=True)

In [ ]:
p

          A         B         C  new2
1 -0.450763  0.800737 -0.664311     1
2  0.987979 -0.719551  0.035882     2
3 -0.988193  0.144764 -0.553262     3

In [ ]:
p[p>0]

          A         B         C  new2
1       NaN  0.800737       NaN     1
2  0.987979       NaN  0.035882     2
3       NaN  0.144764       NaN     3

In [ ]:
p['A'].unique()

array([-0.45076315,  0.9879786 , -0.98819281])

In [ ]:
p['A'].nunique()

3

In [ ]:
p['A'].value_counts()

-0.450763    1
 0.987979    1
-0.988193    1
Name: A, dtype: int64

Salaries

In [ ]:
df = pd.read_csv("/content/sample_data/Salaries.csv")

In [ ]:
df

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011.0,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011.0,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011.0,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011.0,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011.0,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
30059,30060,TIMOTHY HALLISY,AIRPORT POLICE SERVICES AIDE,15522.01,0.00,565.05,NaN,16087.06,16087.06,2011.0,NaN,San Francisco,NaN
30060,30061,FILEMON DIZON,PERSONAL PROPERTY AUDITOR,15918.51,0.00,160.00,NaN,16078.51,16078.51,2011.0,NaN,San Francisco,NaN
30061,30062,ROSITA KAN,PERSONAL PROPERTY AUDITOR,15918.50,0.00,160.00,NaN,16078.50,16078.50,2011.0,NaN,San Francisco,NaN
30062,30063,JESSICA WOODARD,PUBLIC SERVICE AIDE-ASSISTANT TO PROFESSIONALS,16077.28,0.00,0.00,NaN,16077.28,16077.28,2011.0,NaN,San Francisco,NaN
30063,30064,STEPHEN CHAPLIN,TRANSIT OPERATOR,15974.16,0.00,100.00,NaN,16074.16,1607.00,NaN,NaN,NaN,NaN

In [ ]:
df["BasePay"].mean()

75295.680443721

In [ ]:
df["BasePay"].max()

294580.02

In [ ]:
df["BasePay"].min()

0.0

In [ ]:
df[df["EmployeeName"]=="JOSEPH DRISCOLL"]["JobTitle"]

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [ ]:
df[df["BasePay"] == df["BasePay"].max()]["EmployeeName"]

12    EDWARD HARRINGTON
Name: EmployeeName, dtype: object

In [ ]:
df[df["EmployeeName"]=="JOSEPH DRISCOLL"]["TotalPayBenefits"]

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [ ]:
df.groupby('Year')["BasePay"].mean()

Year
2011.0    75297.653684
Name: BasePay, dtype: float64

In [ ]:
df["BasePay"].mean()

75295.680443721

In [ ]:
df[df["Year"]==2014]

Empty DataFrame
Columns: [Id, EmployeeName, JobTitle, BasePay, OvertimePay, OtherPay, Benefits, TotalPay, TotalPayBenefits, Year, Notes, Agency, Status]
Index: []

In [ ]:
df.groupby('Year')["BasePay"].mean()

Year
2011.0    75297.653684
Name: BasePay, dtype: float64

In [ ]:
df["JobTitle"].nunique()

1024

In [ ]:
df["JobTitle"].value_counts()[:5]

TRANSIT OPERATOR      2044
REGISTERED NURSE      1184
SPECIAL NURSE          798
FIREFIGHTER            786
POLICE OFFICER III     771
Name: JobTitle, dtype: int64

In [ ]:
sum(df[df['Year'] == 2013]['JobTitle'].value_counts() == 1)

0

In [ ]:
sum(df['JobTitle'].apply(lambda x:'chief' in x.lower().split()))

153